body {
	background-color: gray;
	color: white;
}
 .html-info-header {
	text-align: center;
}
.html-info-text {
	text-align: center;
	font-size: 20px;
}
.fast-info {
	text-align: center;
}
.explanation {
	text-align: center;
	font-size: 15px;
	margin-top: -20px;
}
.creator-html {
	display: inline;
}
.html-creation-date {
	display: inline;
}
.why-html-has-been-created {
	display: inline;
}
.photo {
	text-align: center;
}
.photo1 {
	margin-left: 730px;
	margin-top: -180px;
}
.photo2 {
	margin-left: 470px;
	margin-top: -200px;
	width: 30%;
}